*{
    font-family: 'Pathway Extreme', sans-serif;
    margin: 0px;
    /* background-color: #EAB2A0; */
}
body{
    display: grid;
    /* flex-direction: column; */
    
    
}
.flower-text{
    position: absolute;    
    font-size: 6em;
    font-family: 'Ysabeau Infant', sans-serif;
    justify-self: flex-end;
    align-self: center;
    text-align: center;
    left: 51%;
    color: #EAB2A0;   
}
.right> p {
    position: absolute;    
    font-size: 2em;
    font-family: 'Ysabeau Infant', sans-serif;
    justify-self: flex-end;
    align-self: flex-end;
    text-align: center;
    left: 49%;
    top: 68%;
    color: #EAB2A0; 
    order: 1;
    
}

@media (max-width:1200px){
    .flower-text{
        font-size: 4em;
    }  
    .right> p {
           
        font-size: 2em;
        
        
    }
}
@media (max-width:800px){
    .flower-text{
        font-size: 3em;
    }
    .right> p {
           
        font-size: 1.5em; 
    }
    /* .header{
        background-color: #A76F6F;

            align-items: center;
            gap: 0.8em;
            flex-direction: column;
            }     */
    
}

.pfp{
    margin: 20px;
    width: 85%;
    border-radius:8% ;
    opacity: 0.9;
    border: 6px solid #A76F6F;
    box-shadow: 5px 5px 4px #c8d956,;

}
/* NAVBAR DESIGN VIA FLEX */
.header{
    background-color: #A76F6F;
    color: #DAFFFB;
    box-shadow: 3px 8px 5px #2f1e1e;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 1em;
    height: 2.2em;

    display: flex;
    align-items: center;
    gap: 0.8em;
    
}

.home{
    color: #DAFFFB;
    flex-direction: row;
    margin-right: auto;
    margin-left: 10px;
    flex: 0 2 400px;
    
}


.nav{   
    font-style: normal;
    font-weight: lighter;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 1px #001C30;
    padding: 0px;
    text-align: center;
}
.nav{
    justify-content: flex-end;
    min-width: 120px;
}
.nav:hover{
    
    color: rgb(29, 123, 231);
}

.main{
    background-color: black; 
    color: #DAFFFB;
    display: grid;

    border-top-left-radius:12px;
    border-top-right-radius:12px;
    border-bottom-left-radius:12px;   
    border-bottom-right-radius:12px; 

    grid-template-columns:4fr 6fr ;
    column-gap: 0px; ;
   
    position: relative;
    /* text-align: center; */
}
.left{
    float: left;
    width: 100%;
    padding: 0px;
    justify-self: center;
    
}
.right{
    width:75%;
    display: grid;
}
.flower{
    float: right;
    width: 100%;
    border-radius: 0.3%;
    opacity:1;
}

.footer{
    
    background-color: #A76F6F;
    color: #DAFFFB;
    border: 2px solid black;
    border-radius:6px;
    font-style: normal;
    font-weight: lighter;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 1px #001C30;
    /* padding: 20px; */
}


.logo{
    width: 83px;
    height: 77px;
    mix-blend-mode: darken;
}