*{
    font-family: 'Pathway Extreme', sans-serif;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: ;
    
}
.header{
    background-color: #001C30;
    color: #DAFFFB;

    display: flex;
    flex-direction: row;
    flex: 1;

    justify-content: center;
    justify-content: space-evenly;
}
.nav{
    color:#DAFFFB ;
    font-style: normal;
    font-weight: lighter;
    text-decoration: none;
}
.main{
    background-color: #176B87; 
    color: #DAFFFB;
    border: 1px solid white;
}
.footer{
    background-color: #001C30;
    color: #DAFFFB;
    border: 1px solid black;
}